:root {
  --bucket-blue: #677ef8;
}

body {
  background-color: var(--background-color-primary) !important;
  color: var(--text-primary-color) !important;
}

h1,
h2 {
  font-family: "Raleway", sans-serif;
}

h1 {
  font-weight: 600;
}

h2 {
  font-weight: 800 !important;
  font-size: 3rem !important;
}

p,
h3,
h4,
h5,
h6 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.25rem;
  color: var(--text-primary-color) !important;
}

.navbar {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  color: var(--text-primary-color) !important;
  background-color: var(--background-color-secondary) !important;
  box-shadow: 0 2px 3px var(--background-color-primary);
}

.nav-link {
  color: var(--text-primary-color) !important;
}

.card-body {
  background-color: var(--background-color-secondary) !important;
  color: var(--text-primary-color) !important;
}

#gradient-backdrop {
  /* background: linear-gradient(135deg, hsla(249, 94%, 47%, 1) 0%, hsla(274, 84%, 45%, 1) 33%, hsla(318, 76%, 43%, 1) 64%, hsla(1, 94%, 55%, 1) 100%); */
  /* Rectangle 3 */

  /* transform: translate(); */
}

.btn.btn-primary {
  background-color: var(--bucket-blue) !important;
}

.btn {
  font-family: "Raleway", sans-serif;
  font-weight: 800 !important;
  font-size: 1.25rem !important;
  border-radius: 0 !important;
  border: none !important;
  padding: 0.75rem 2rem !important;
}

.full-width {
  width: 100%;
}

.responsive-card {
  width: 95%;
}

@media screen and (min-width: 568px) {
  .card-body {
    padding: 2rem 2.5rem !important;
  }
  .responsive-card {
    width: 75%;
  }
}

@media screen and (min-width: 1024px) {
  .card-body {
    padding: 3rem 5rem !important;
  }
  .responsive-card {
    width: 50%;
  }
}
